.pull-right {
  float: right !important;
}

.article-preview {
  margin-bottom: 20px;
}

.preview-link {
  text-decoration: none;
}

.tag-list {
  padding-left: 0px !important;
  display: block;
  float: right;
  max-width: 50%;
}
