.card {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}

.article-form {
  min-width: 150px;
  max-width: 700px;
  width: 100%;
}

.article-full-width {
  width: 100%;
}

.right {
  float: right;
}

@media only screen and (max-width: 992px) {
  .card {
    margin-top: 8rem;
  }
}

@media only screen and (max-width: 435px) {
  .card {
    margin-top: 6rem;
  }
}

@media only screen and (max-width: 375px) {
  .card {
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 320px) {
  .card {
    margin-top: 3rem;
  }
}
