<mat-card class="card">
    <div class="container">
      <h1>{{ article.title }}</h1>
      <app-article-meta [article]="article">
        <span [hidden]="!canModify">
            <a mat-raised-button [routerLink]="['/editor', article.slug]">
              <i class="material-icons">edit</i>Edit Article
            </a>
            <button mat-raised-button color="warn"
            [ngClass]="{ disabled: isDeleting }" (click)="deleteArticle()">
            <i class="material-icons">delete</i>Delete Article
            </button>
        </span>
        <span [hidden]="canModify">
          <app-follow-button
                      [profile]="article.author"
                      (onToggle)="onToggleFollowing($event)">
          </app-follow-button>
          <app-favorite-button
                      [article]="article"
                      (onToggle)="onToggleFavorite($event)">
                      {{ article.favorited ? 'Unfavorite' : 'Favorite'}}
                      Article <span class="counter">({{ article.favoritesCount }})</span>
          </app-favorite-button>
        </span>
      </app-article-meta>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div [innerHTML]="article.body | markdown"></div>
            <h4>Popular Tags</h4>
        <mat-chip-list>
          <mat-chip color="warn" selected="true" *ngFor="let tag of article.tagList">
           {{ tag }}
          </mat-chip>
        </mat-chip-list>
      </div>
      </div>
      <hr>
      <div class="article-actions">
          <app-article-meta [article]="article">
              <span [hidden]="!canModify">
                  <a mat-raised-button [routerLink]="['/editor', article.slug]">
                    <i class="material-icons">edit</i>Edit Article
                  </a>
                  <button mat-raised-button color="warn"
                  [ngClass]="{ disabled: isDeleting }" (click)="deleteArticle()">
                  <i class="material-icons">delete</i>Delete Article
                  </button>
              </span>
              <span [hidden]="canModify">
                <app-follow-button
                            [profile]="article.author"
                            (onToggle)="onToggleFollowing($event)">
                </app-follow-button>
                <app-favorite-button
                            [article]="article"
                            (onToggle)="onToggleFavorite($event)">
                            {{ article.favorited ? 'Unfavorite' : 'Favorite'}}
                            Article <span class="counter">({{ article.favoritesCount }})</span>
                </app-favorite-button>
              </span>
            </app-article-meta>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2">
          <div *appShowAuthenticated="true">
                <app-list-errors [errors]="commentFormErrors"></app-list-errors>
                <form class="card comment-form" (ngSubmit)="addComment()">
                  <div disabled="isSubmitting">
                    <mat-form-field class="comments-full-width">
                        <textarea matInput
                                  placeholder="Write a comment ..."
                                  rows="3"
                                  [formControlName]="commentControl"></textarea>
                      </mat-form-field>
                      <div class="card-footer">
                          <img [src]="currentUser.image" class="comment-author-img">
                          <button mat-raised-button type="submit" color="primary">
                              Post Comment
                            </button>
                      </div>
                    </div>
                </form>
          </div>
          <div *appShowAuthenticated="false">
            <a [routerLink]="['/login']">Sign In</a>
            or <a [routerLink]="['/register']">Sign Up</a> to add a comment to this article.
          </div>
          <app-article-comment
              *ngFor="let comment of comments"
              [comment]="comment"
              (deleteComment)="onDeleteComment(comment)">
          </app-article-comment>
        </div>
      </div>
    </div>
    </mat-card>
