<mat-card class="card">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1 col-xs-12">
        <div class="center-profile">
            <img [src]="profile.image" class="user-img">
            <h4>{{ profile.username }}</h4>
            <p>{{ profile.bio }}</p>
        </div>
          <div class="action-button">
          <app-follow-button
                      [hidden]="isUser"
                      [profile]="profile"
                      (onToggle)="onToggleFollowing($event)">
          </app-follow-button>
        </div>
          <span [routerLink]="['/settings']" [hidden]="!isUser"
            mat-button>
            <i class="material-icons">settings</i>Edit Profile Settings
        </span>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 offset-md-1">
        <mat-tab-group>
            <mat-tab label="My Posts">
                <span class="nav-link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/profile', profile.username]">
               </span>
               <router-outlet></router-outlet>
            </mat-tab>
            <mat-tab label="Favorited Posts">
                <span class="nav-link"
                      routerLinkActive="active"
                      [routerLinkActiveOptions]="{ exact: true }"
                      [routerLink]="['/profile', profile.username, 'favorites']">
                      <p>No articles here yet ...</p>
                </span>
            </mat-tab>
          </mat-tab-group>
    </div>
  </div>
</div>
</mat-card>
