<mat-card class="card">
    <mat-card-title class="section-title">Angular 5 Knowledge Share</mat-card-title>
    <div class="container">
      <div class="row">
          <div class="col-md-8">
              <mat-tab-group>
                <mat-tab label="Your Feed">
                    Your Feed
                </mat-tab>
                <mat-tab label="Global Feed">
                    Global Feed
                </mat-tab>
              </mat-tab-group>
              </div>
              <div class="col-md-4">
                  <h4>Popular Tags</h4>
              <mat-chip-list>
                <mat-chip color="warn" selected="true" >
                 <span class="cp">tag 1</span>
                 <span>tag 2</span>
                 <span>tag 3</span>
                </mat-chip>
              </mat-chip-list>
            </div>
      </div>
    </div>
</mat-card>
