<mat-card>
    <mat-card-title>
      {{ comment.body }}
    </mat-card-title>
<mat-card-actions>
        <div class="card-footer">
            <a class="comment-author" [routerLink]="['/profile', comment.author.username]">
                <img [src]="comment.author.image" class="comment-author-img">
            </a>
            &nbsp;
            <a class="comment-author" [routerLink]="['/profile', comment.author.username]">
              {{ comment.author.username }}
            </a>
            <span class="date-posted">
              {{ comment.createdAt | date:'longDate'}}
            </span>
            <span class="mod-options" [hidden]="!canModify">
                <i class="material-icons" (click)="deleteClicked()">delete_sweep</i>
            </span>
        </div>
</mat-card-actions>
</mat-card>
