<mat-card class="container card">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
          <h2>Your Settings</h2>
          <form [formGroup]="settingsForm" (ngSubmit)="submitForm()"
                class="settings-form">
              <div disabled="isSubmitting">
              <mat-form-field class="settings-full-width">
                <input matInput placeholder="URL of profile picture"
                        formControlName="image">
              </mat-form-field>
                <mat-form-field class="settings-full-width">
                  <input matInput placeholder="Username"
                        formControlName="username">
                </mat-form-field>

                <mat-form-field class="settings-full-width">
                  <textarea matInput
                            placeholder="Bio about you"
                            rows="8"
                            formControlName="bio"></textarea>
                </mat-form-field>
                <mat-form-field class="settings-full-width">
                  <input matInput type="email"
                                  placeholder="Email"
                                  formControlName="email">
                </mat-form-field>
                <mat-form-field class="settings-full-width">
                  <input matInput type="password"
                         placeholder="New Password"
                         formControlName="password">
                </mat-form-field>
              <div class="right">
              <button mat-raised-button color="primary">
                Update Settings
              </button>
            </div>
             </div>
            </form>
            <div>
            <button mat-raised-button color="warn" (click)="logOut()">Signout</button>
          </div>
    </div>
  </div>
</mat-card>
